doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Sebas' Screenshots
    link(rel='stylesheet', href='../stylesheets/screen.css')
  body
    #main
      table
        tr
          td
            label
              input.filter-verified(type='checkbox')
              |  Show Verified
          td
            select#releases
          td
            select#pages
          td
            select#classes
          td
            select#tests
          td
            |  QE Name: 
            select#qename
              option Select Name
              option(value='Josh') Josh
              option(value='Richard') Richard
              option(value='Scott') Scott
              option(value='Eric') Eric
              option(value='Thuan') Thuan
              option(value='Varsha') Varsha
              option(value='Sebas') Sebas

          div.verifyAll
            label(for='verify') Verify All Displayed
            input#verifyAll(type='image', src='../checked.png')
          div.unverifyAll
            label(for='unverify') Unverify All Displayed
            input#unverifyAll(type='image', src='../unchecked.png')
      table
        tr
          td
            label
              input.hide-when-verified(type='checkbox')
              |  Remove When Verified
          td
            button#reset Reload
          td
            button.sizeController#increase Increase Screenshot Size
          td
            button.sizeController#decrease Decrease Screenshot Size
      #screenshotList
        div
          script#screenshotTemplate(type='text/template').
            <input type="image" src="../unchecked.png" <% if (verified) { %> style="display:none" <% }%> class="verify"/>
            <input type="image" src="../checked.png" <% if (!verified) { %> style="display:none" <% }%> class="unverify"/>
            <div class="labelContainer" value=<%= release%>><%= release%></div>
            <div class="labelContainer" value=<%= page%>><%= page%></div>
            <div class="labelContainer" value=<%= classname%>><%= classname%></div>
            <div class="labelContainer" value=<%= testname%>><%= testname%></div>
            <div class="labelContainer" value=<%= qename%>><%= qename%></div>
            <img class="ssImage" src="../tools/screenshot/<%= ssId%>/download"</>
          script(src='/js/jquery-1.11.3.min.js')
          script(src='/js/underscore-min.js')
          script(src='/js/backbone-min.js')
          script(src='/js/main.js')
