doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Sebas' Screenshots
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css")
    link(rel='stylesheet', href='../stylesheets/screenCompare.css')
    script(src='/js/screenCompare.js', type='text/babel')
    script(src='/js/require.js', type='text/script')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react-dom.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js")
  body
    h1 Screenshots
    #content
