doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Sebas' Screenshots
    link(rel='stylesheet', href='stylesheets/screen.css')
  body
    #main
      label
        input.filter-verified(type='checkbox')
        |  Show Verified
      select#releases
      select#classes
      select#tests
      | 	QE Name: 
      select#qename
        option Select Name
        option(value='Richard') Richard
        option(value='Scott') Scott
        option(value='Eric') Eric
        option(value='Thuan') Thuan
        option(value='Varsha') Varsha
        option(value='Sebas') Sebas
      #screenshotList
        div
          script#screenshotTemplate(type='text/template').
            <div class="labelContainer" value=<%= release%>><%= release%></div>
            <div class="labelContainer" value=<%= classname%>><%= classname%></div>
            <div class="labelContainer" value=<%= testname%>><%= testname%></div>
            <br>
            <img class="ssImage" src="tools/screenshot/<%= ssId%>/download"</>
            <br>
            <input type="image" src="unchecked.png" <% if (verified) { %> style="display:none" <% }%> class="verify"/>
            <input type="image" src="checked.png" <% if (!verified) { %> style="display:none" <% }%> class="unverify"/>
            <div class="labelContainer" value=<%= qename%>><%= qename%></div>
          script(src='/js/jquery-1.11.3.min.js')
          script(src='/js/underscore-min.js')
          script(src='/js/backbone-min.js')
          script(src='/js/main.js')
