extends layout

block content
  form(method='post', enctype='multipart/form-data', action='tools/screenshot')
    input(type='text', name='release')
    input(type='text', name='page')
    input(type='text', name='classname')
    input(type='text', name='testname')
    input(type='text', name='number')
    input(type='file', name='file')
    input(type='submit', value='Submit')
