body {
    background-color: #eee;
}

.labelContainer {
    border: 1px solid #aaa;
    background-color: #fff;
    margin: 5px;
    padding: 5px 5px 5px 5px;
    text-align:center;
    float:right;
}

.screenshotContainer {
    border: 1px solid #aaa;
    background-color: #fff;
    float: left;
    margin: 5px;
}
.screenshotContainer img {
    margin: 10px;
}
.screenshotContainer ul {
    list-style-type: none;
}

.ssImage{
  width:auto;
  height:auto%;
  max-height:500px;
  margin:20px;
}

.ssImage.ssImageMax{
  width:auto;
  max-height:10000px;
  max-width:10000px;
  margin:20px;
  display:block;
}

.verify {
	margin: 10px;
	height:100px;
	width:auto;
}

.unverify {
	margin: 10px;
	height:100px;
	width:auto;

}