body {
    background-color: #eee;
}

td {
	padding:7px;
}

.sizeController {
	height: 30px;
}

.optionContainer {
	float:left;
	padding: 5px 5px 5px 5px;
}

.labelContainer {
    border: 1px solid #aaa;
    background-color: #fff;
    margin: 7px;
    padding: 5px 5px 5px 5px;
    text-align:center;
    float:left;
    font-size:16px;
}

.screenshotContainer {
    border: 1px solid #aaa;
    background-color: #fff;
    float: left;
    margin: 5px;
    max-width: 450px;
}

.screenshotContainer.ssImageMax {
  border: 1px solid #aaa;
  background-color: #fff;
  float: left;
  margin: 5px;
  max-height:10000px !important;
  max-width:10000px !important;
}

.ssImage{
  width:auto;
  height:auto;
  max-width:400px;
  margin:20px;
}

.ssImage.ssImageMax{
  width:auto;
  max-height:10000px !important;
  max-width:10000px !important;
  margin:20px;
  display:block;
}

.verify {
	margin: 10px;
	height:70px;
	width:auto;
	float:left;
}

.unverify {
	margin: 10px;
	height:70px;
	width:auto;
	float:left;
}